<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>RedLine</title>
  <link rel="stylesheet" type="text/less" href="css/style.less">
  <script type="text/javascript" src="js/libs/less-1.4.1.min.js"></script>
  <script>
    less.watch();
  </script>
</head>
<body>
<aside>
  <h2>RedLine</h2>
  <div class="actions">
    <a href="#/new">New</a>
    <a href="#/connect">Connect</a>
  </div>
  <ul id="mailboxes">
  </ul>
</aside>
<section id="main">
  <div class="index">
    <h1>RedLine</h1>
    <p>The distributed message relay.</p>
  </div>
</section>

  <script type="text/x-template" data-template-id="setup">
    <div class="setup">
      <h2>Setup</h2>
      <form method="post" action="data.php?setup">
        <p>This is the first time you use SecMail. </p>
        <input type="text" name="setup[uname]" placeholder="Please enter your name" required="required"/>
        <select name="setup[server]" size="1" required="required">
          <option value="" selected="selected" disabled="disabled">Select primary server</option>
          <% _.each(servers, function(server, idx) {%><option value=<%=idx+1%>><%=server%></option><% }); %>
          <option value="0">Other</option>
        </select>

        <div class="other-option hidden">
          <input type="text" name="setup[user]" placeholder="Global username"/>
          <input type="password" name="setup[pass]" placeholder="Global password"/>
          <input type="text" name="setup[host]" placeholder="myserver.org/that/webdav/path"/>
          <input type="text" name="setup[alias]" placeholder="Alias"/>
        </div>
        <button type="submit">Save</button>
      </form>
    </div>
  </script>

  <script type="text/x-template" data-template-id="mailboxes">
    <% _.each(data, function(item) { %>
      <li><a href="#/mb/<%=item.id%>" data-id="<%=item.id%>"><%=item.name%><% if (item.messages.length > 0) { %>
        <span class="count"><%=item.messages.length%></span>
        <% } %>
      </a></li>
    <% }); %>
  </script>

  <script type="text/x-template" data-template-id="add-contact">
    <div class="contact">
      <h2>Add Contact</h2>
      <p>Your profile code can be printed out or electronically sent to whom you want to communicate with. If he/she
        sends you his/her profile code, you can upload it here and a secure communication channel has been established between you.
      </p>
      <div class="my-contact">
        <label>Your Profile Code:</label>
        <span class="title">RedLine profile code <%=name%></span>
        <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=<%=encodeURIComponent(data)%>"/>
        <a href="#/print">Print</a>
      </div>
      <form method="post" action="data.php?import" class="import">
        <div class="get-data">
          <ul class="x-tabs"><li><a class="active" href="#qrfile">Image</a></li><li><a href="#qrcam">WebCam</a></li></ul>
          <div id="qrfile">
            <canvas id="out-canvas" width="250" height="250"></canvas>
            <canvas id="qr-canvas" width="800" height="600"></canvas>
            <div id="imghelp"><p>drag and drop a profile code here</p><p>or select it from a file
              <input type="file"/></p>
            </div>
          </div>
          <div id="qrcam"></div>
        </div>
        <div id="result-container">
          <div id="result"><input type="text" style="opacity:0;width:1px;height:1px;border:0;padding:0;" required="required"/>
            Please provide profile code.
          </div>
          <button type="submit" disabled="disabled" id="btn-connect">Connect</button>
        </div>
      </form>
    </div>
  </script>
  <script type="text/x-template" data-template-id="renderContact">
    <% if (line) { %>
      <div class="new-contact">
        <%=line%>
        <a onclick="$(this.parentNode).remove();" class="remove"></a>
        <textarea name="contact[]"><%=data%></textarea>
      </div>
    <% } else { %>
      <div class='error'>No valid contact code.</div>      
    <% } %>
  </script>

  <script type="text/x-template" data-template-id="mails">
    <ul id="mails">
      <% if (messages.length <= 0) { %>
        <p>No messages in this mailbox.</p>
      <% } %>
      <% _.each(messages, function(msg) { %>
        <li data-msg-id="<%=msg.id%>">
          <div class="date"><%=msg.message.message.header.Date%></div>
          <div class="from"><%=msg.from%></div>
          <div class="subject"><%=msg.message.message.header.Subject%></div>
        </li>
      <% }); %>
    </ul>
    <div id="maildetails"></div>
  </script>

  <script type="text/x-template" data-template-id="maildetails">
    <div class="actions">
      <a href="#/reply/<%=mailbox%>/<%=message.id%>">Reply</a>
      <a href="#/forward/<%=mailbox%>/<%=message.id%>">Forward</a>
      <a href="#/delete/<%=mailbox%>/<%=message.id%>">Delete</a>
    </div>
    <ul class="headers">
      <li class="from"><label>From</label><span><%=message.message.message.header.From.name%></span></li>
      <li class="date"><label>Date</label><span><%=message.message.message.header.Date%></span></li>
      <li class="subject"><label>Subject</label><span><%=message.message.message.header.Subject%></span></li>
    </ul>
    <div class="body">
      <%=message.message.message.body%>
    </div>
  </script>

  <script type="text/x-template" data-template-id="new-msg">
    <div class="newmsg">
      <h2>Create message</h2>
      <form method="POST" action="data.php?send">
        <div class="actions">
          <button type="submit">Send</button>
        </div>
        <label>To: 
          <select name="send[to][]" multiple="multiple" id="send-to">
            <% if (to) { %>
              <option value="<%=(to || '')%>" class="selected"><%=(toName || "")%></option>
            <% } %>
          </select>
        </label>
        <label>Subject: <input type="text" name="send[subject]" value="<%=(subject || '')%>"/></label>
        <label>
          Message:
          <textarea name="send[body]"><%=(body || '')%></textarea>
        </label>
      </form>
    </div>
  </script>

  <script src="js/libs/jquery-1.9.1.js"></script>
  <script src="js/libs/underscore-min.js"></script>
  <script src="js/libs/jquery.fcbkcomplete.js"></script>
  <script src="js/libs/llqrcode.js"></script>
  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
  <script src="js/camerascanner.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
